.inputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  .error {
    color: var(--red);
  }

  .errorInput {
    border-color: var(--red);
  }

  .errorInput::placeholder {
    color: var(--red);
  }

  input {
    border-radius: 8px;
    padding: 16px;
    height: 48px;
    border: 2px solid var(--dark-blue);
  }
}
