.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  display: flex;
  height: 46px;
  align-items: center;
  justify-content: center;
  padding: 12px 40px;
  border-radius: 12px;
  background-color: var(--dark-blue);
}

.button:disabled {
  background-color: var(--light-gray);
}
.button:hover {
  background-color: var(--light-blue);
}
