.itemWrapper {
  display: flex;
  gap: 15px;

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .left {
      display: flex;
      flex-direction: column;
    }

    .right {
      display: flex;
      flex-direction: column;
      text-align: right;
      color: var(--gray);

      span {
        font-size: 17px;
      }
    }

    small {
      color: var(--gray-200);
      font-size: 14px;
    }
  }
}
