:root {
  --black: #090a0a;
  --white: #ffffff;
  --gray: #484848;
  --light-gray: #c4c4c4;
  --dark-gray: #6c7072;
  --gray-200: #72777a;
  --dark-blue: #204080;
  --light-blue: #4f75c2;
  --pink: #ff4e78;
  --red: #ff0000;
}
