.recordWrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  color: var(--record-gray);
  margin: 0 auto;

  .errorMessage {
    align-self: flex-end;
    max-width: 300px;
  }
  label {
    font-weight: 700;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 37px;
    width: 50%;

    align-self: center;
    margin-top: 65px;

    button {
      align-self: flex-end;
    }
  }
  .header {
    display: flex;
    gap: 30px;
    margin-top: 27px;
    margin-bottom: 30px;

    .backBtnWrapper {
      align-self: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      a {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }

      button {
        color: var(--black);
      }
    }
  }
}
