.footer {
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--footer-blue);
  //width: 100%;
  padding: 27px;
  justify-content: space-between;
  margin-top: 60px;

  .locationMap {
    display: flex;
    width: 40%;
  }
}
