.container {
  font-family: "Roboto";
  font-style: normal;
  background-color: var(--footer-blue);
  display: flex;
  margin-top: 60px;
  .footer {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 27px;
    justify-content: center;

    .locationMap {
      display: flex;
      width: 40%;
    }
  }
}

@media (max-width: 600px) {
}
