.resultWrapper {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--gray);
  border-radius: 24px;
  padding: 16px 40px 12px;

  width: 85%;
  margin-top: 10px;
  .result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 11px;
  }
  .button {
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
  }
}
