.itemWrapper {
  display: flex;
  flex-direction: column;
  margin: 9px;
  min-width: 30%;
  overflow: hidden;
  line-height: 24px;
  gap: 8px;

  .text {
    width: 80%;
    font-weight: 700;
  }
  small {
    color: var(--dark-gray);
  }
}
