.fullResultWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  .paginationWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contentWrapper {
    display: flex;

    width: 100%;

    justify-content: center;

    .order {
      margin-left: 30px;
    }
    .content {
      max-width: 780px;
      min-height: 470px;
      width: 100%;
      margin-top: 64px;
      margin-left: 146px;
    }
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 27px;

    img {
      width: 220px;
      height: 63px;
    }

    input {
      padding: 13px 0px 7px 20px;
      height: 46px;
      margin-right: 12px;
    }

    .newRecord {
      margin-left: 64px;
    }
  }
}

@media (max-width: 1000px) {
  .contentWrapper {
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    margin-left: -110px;
  }

  .header {
    width: 100%;
    gap: 25px;

    button {
      width: 100%;
    }
  }
}

@media (max-width: 1640px) {
  .order {
    flex-wrap: wrap;
  }
}
