.wrapper {
  h2 {
    margin-left: 60px;
    margin-bottom: 16px;
    margin-top: 96px;
  }

  .sliderWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    .content {
      display: flex;
      gap: 24px;
      overflow: hidden;
    }
    .right {
      flex-shrink: 0;
    }
    .left {
      flex-shrink: 0;
    }
  }
}
